.drop_menu {
    background: #202D62;
    padding: 0;
    margin: 0;
    list-style-type: none;
    min-height: 35px;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.drop_menu li a {
    padding: 12px 20px;
    display: block;
    color: #fff;
    text-decoration: none;
    font: 1.1em arial, verdana, sans-serif;
    transition: all .2s;
}

.drop_menu li:hover a::before {
    background-color: #FEE21D !important;
    content: " ";
    position: absolute;
    top: auto;
    bottom: 0;
}

/* Submenu */
.drop_menu ul {
    position: absolute;
    left: -9999px;
    top: -9999px;
    list-style-type: none;
}

.drop_menu li:hover {
    position: relative;
    background: #202D62;
}

.drop_menu li:hover ul {
    left: 0;
    top: auto;
    background: #202D62;
    padding: 10px;
}

.drop_menu li:hover ul li a {
    padding: 10px;
    display: block;
    width: 168px;
    text-indent: 15px;
    background-color: #202D62;
}

.drop_menu li:hover ul li a:hover {
    color: #fff !important;
    background-color: #446084;
    margin: 0 10px;
    padding-left: 10px;
    border-radius: 10px;
    padding-right: 5px;
}